:root {
    --cardbg: rgb(232, 103, 237);
    --cardgradient: (0deg, rgba(93,0,107,1) 0%, rgba(173,0,200,1) 100%);
    --background: rgb(51, 57, 64);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}


header, .box {
    color: var(--cardbg);
}

html {
    background-color: var(--background);
}

h1 {
    text-align: center;
}

h2 {
    border: 1px solid white;
    padding: 3px 5px;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    top: -27px;
    background-color: var(--background);
}

main {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-around;
}

main > section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.box {
    border: 2px dotted white;
    width: 30%;
}

.box p {
    position: relative;
    top: -27px;
    padding-left: 10px;
    margin: 0px auto;
}

@media screen and (max-width: 992px) {
.box {
    width: 45%;
}
}

@media screen and (max-width: 768px) {
.box {
    width: 90%;
}
}

