:root {
    --cardbg: rgb(232, 103, 237);
    --background: rgb(51, 57, 64);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}


header, .box {
    color: var(--cardbg);
}

html {
    background-color: var(--background);
}

h1 {
    text-align: center;
}

h2 {
    border: 1px solid white;
    padding: 3px 5px;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    top: -27px;
    background-color: var(--background);
}

main {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-around;
}

main > section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.box {
    border: 2px dotted white;
    width: 30%;
}

p {
    position: relative;
    top: -27px;
    padding-left: 10px;
    margin: 0px auto;
    font-size: 14px;
}

@media screen and (max-width: 992px) {
.box {
    width: 45%;
}
}

@media screen and (max-width: 768px) {
.box {
    width: 90%;
}
}

.codebox {
    background-image: linear-gradient(rgba(232, 102, 236, 0.3) 0%, rgba(232, 102, 236, .6) 100%);
    padding: 3px;
    width: 90%;
    margin: auto;
    border-radius: 8px;    
    position: relative;
    top: -15px;
    height:255px;
    align-items: center;
}

pre {
    margin-left: 10px;
    display: flex;
    color: white;
    font-family: monospace;
    line-height: 1.5;

}

